.Servis_App {
  display: grid;
  width: 100%;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 340px 1fr;
  grid-template-columns: 3fr 10fr;
}

@media (min-width:0) and (max-width:749.9px) {
  .Servis_App {
    grid-template-areas:
      "h"
      "n "
      "c";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

@media (min-width:550px) and (max-width:849.9px) {
  .Servis_App {
    grid-template-areas:
      "h h"
      "n c";
    grid-template-columns: 1fr 2fr;
  grid-template-rows: 150px 1fr;

  }
}

@media (min-width:850px) and (max-width:1109.9px) {
  .Servis_App {
    grid-template-rows: 250px 1fr;
    grid-template-columns: 5fr 7fr;
  }
}

@media (min-width:1110px) and (max-width:1449.9px) {
  .Servis_App {
    grid-template-rows: 300px 1fr;
    grid-template-columns: 5fr 7fr;
  }
}